<div class="post">
    <form action="" class='forms' onSubmit={handleSubmit}>
    <h1>Form</h1>
    <label>Company</label>
    <input type="text"/>

    <label>Role</label>
    <input type="text"/>

    <label>Experience</label>
    <input type="text"/>

    <label>Location</label>
    <input type="text"/>

    <label>Skills</label>
    <input type="text"/>

    <label>Logo URL</label>
    <input type="text"/>

    <label>Description</label>
    <textarea></textarea>

    <button type="submit">Submit</button>
    <!-- {message && <p>{message}</p>} -->
    </form>
</div>