.contact{
    margin: 20px 70px 20px 70px;
    border-radius: 15px;
    min-height: 26vh;
    background-color: #2e2e2e;
    color: white;
    padding: 4vw
}
.contact h1{
    margin: 0;
    color: white;
}
.contact a{
    color: #2f9b8e;
    text-decoration: none;
}
.contact a:hover{
    color: white;
    transition: 0.8s;
}
.contact p{
    color: #2f9b8e;
    margin-top: 10px;
    font-size: large;
}
@media only screen and (max-width: 600px) {
    .contact{
        margin: 0;
        border-radius: 0;
    }
    .contact h1{
        font-size: 20px;
    }
    .contact p{
        font-size: 15px;
        margin: 10px 0 10px 0;
    }
  }