.navbar{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px black solid;
    background-color: #000;
}
.navbar h1{
    color: #2f9b8e;
    font-size: 2rem;
    margin-top: 2vw;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navbar li{
    margin: 1vw 3vw 1vw 3vw;
    list-style: none;
}
.navbar li a{
    color: #2f9b8e;
    text-decoration: none;
    font-size: 4vh;
}
.navbar li a:hover{
    cursor: pointer;
    color: white;
    transition: .8s;
}
.user-logo{
    position: fixed;
    top: 2vw;
    right: 2vw;
}
.navbar img{
    width: 50px;
    border-radius: 50%;
    
}
@media only screen and (max-width: 600px) {
    .navbar{
        padding: 5px auto 5px auto;
        align-items: center;
        flex-direction: column;
    }
    .navbar h1{
        font-size: 20px;
    }
    .navbar ul{
        margin-top: 10px;
        padding: 0;
    }
    .navbar li{
        margin: 5px;
    }
    .navbar li a{
        font-size: 15px;
    }
  }